.App {
  padding: 20px;
  font-family: Arial, sans-serif;
}
.search-bar input {
  width: 60%;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid rgb(159, 159, 159);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin-bottom: 10px;
}
.search-bar {
  text-align: center;
  align-items: center;
}
.search-bar input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* .search-bar input {
  width: 62%;
  padding: 10px;
} */

.user-list {
  display: flex;
  flex-direction: column;
}

.user-accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.accordion-header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.accordion-header span {
  flex-grow: 1;
}

.accordion-content {
  padding: 10px;
}
.accordion-content-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.accordion-content-child p {
  /* background-color: blue; */
  padding-right: 30px;
  margin-bottom: -10px;
}

.edit-form-child {
  display: flex;
}
.edit-form label {
  display: block;
  margin-bottom: 10px;
}

.edit-form input,
.edit-form select {
  border-radius: 10px;
  width: 70%;
  padding: 5px;
  margin-top: 5px;
}
.edit-form textarea {
  /* border-radius: 10px; */
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  padding-bottom: 15%;
}

.edit-form button {
  margin-right: 10px;
}

.toggle-button {
  background: none;
  border: none;
  padding-right: 15px;
  margin-top: 5px;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.toggle-button-edit {
  background: none;
  border: none;
  padding-right: 15px;
  margin-top: 5px;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
}
.toggle-button-edit-parent {
  display: flex;
  justify-content: flex-end;
}
